<h2>Awesome stories</h2>

<div id="tool_bar"></div>

<%= link_to "Create new story", new_story_path, id: :new_story %>
<div id="pop-up">
  <%= render "story-form" %>
</div>

<div id='story-container'>
  <ul class="story-list">
    <% @stories.each do |story| %>
      <div id='story-<%= story.id %>'> <%= render "story", :story => story %> </div>
    <% end %>
  </ul>
</div>

