<div id="tool_bar"></div>

<h2>Awesome stories</h2>
<%= link_to "Create new story", new_story_path %>



<ul class="story-list">
  <% @stories.each do |story| %>
    <li class="story">
      <div>
        <span><%= story.title %></span>
        <%= image_tag story.image_url %>
      </div>
    </li>
  <% end %>
</ul>
