<h2>Awesome stories</h2>

<div id="tool_bar"></div>

<%= link_to "Create new story", new_story_path %>

<ul class="story-list">
  <% @stories.each do |story| %>
    <li class="story-title"><%= story.title %></li><br />
    <li class="story-description"><%= story.description %></li><br />
    <li class="story-image_url"><%= story.image_url %></li><br />
  <% end %>
</ul>
