#tool_bar {
  background-color: #290166;
  height: 25px;
  margin-bottom: 40px;
}

#container {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}

#inner_wrapper {
  padding: 50px;
}

#login_status {
  float: right;
  color: white;
  padding-right: 20px;
}

a:link {color:#A088DB;}      /* unvisited link */
a:visited {color:#A088DB;}  /* visited link */
a:hover {color:#A088DB;}  /* mouse over link */
a:active {color:#A088DB;}  /* selected link */

body {
  background-color:#E6DEFA;

}